// .content__default code {
// /* padding: 0.2em 0.3em !important; */
// }
// .demo-wrap .demo-code-content {
// overflow: hidden !important;
// }
.color-picker .color-picker-menu {
    right: 0 !important;
}

.repo-link {
    display: none !important;
}

div[class*='language-'].line-numbers-mode::after {
    border-radius: 0 !important;
}

//.sidebar {
//    z-index: 999999999 !important;
//}

.back-to-ceiling {
    z-index: 7;
}

.gt-container .gt-popup .gt-action.is--active:before {
    background: #3eaf7c !important;
}

.custom-block.details {
    padding: 1rem 0rem 1rem 0 !important;
}

.custom-block.details summary {
    margin-left: 1rem !important;
    user-select: none;
}

.medium-zoom-image--opened {
    margin-left: 0 !important;
}

.demo-wrap .demo-code .demo-code-content {
    max-height: 600px !important;
}

.demo-wrap .demo-code-nav {
    overflow: auto !important;
}

.demo-wrap .demo-code .demo-code-nav .demo-code-btn {
    font-size: 14px !important;
}

.demo-code-content-copied {
    color: #3eaf7c !important;
}

div[class*='language-'].line-numbers-mode .line-numbers-wrapper {
    color: #aaa !important;
    padding: 0.76rem 0 !important;
}

.custom-block.tip, .custom-block.warning, .custom-block.danger {
    padding: 0.5rem 1.5rem 0.1rem !important;
}

div[class*='language-'].line-numbers-mode::after {
    border-right: 1px solid #ddd !important;
    background-color: #f5f2f0 !important;
}

div[class*='language-'].line-numbers-mode pre {
    padding-left: 3.5rem !important;
}

.abstract-wrapper div[class*='language-'].line-numbers-mode .line-numbers-wrapper {
    line-height: 1.5 !important;
    padding: 1rem 0 !important;
}

.zhailu-outer {
    background-color: #f5f2f0;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.zhailu-author {
    text-align: end;
    color: #3eaf7c;
    font-style: oblique;
}

strong {
    font-weight: 700 !important;
}

a {
    code {
        color: #3eaf7c !important;
    }
}

.gt-container .gt-meta {
    z-index: 1 !important;
}

.gt-no-init .gt-btn-login {
    background-color: transparent !important;
    border: 1px solid #3eaf7c !important;
    color: #3eaf7c !important;
}

.back-to-ceiling {
    bottom: 1rem !important;
}

.blog-list, .abstract-wrapper {
    code {
        padding: 0.2em 0.3em;
        margin: 0;
        font-size: 0.85em;
        background-color: var(--code-color);
        border-radius: 3px;
    }

    routerlink {
        code {
            color: #3eaf7c !important;
        }
    }

    a {
        code {
            color: #3eaf7c !important;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
}

p, ul, ol {
    line-height: 1.6 !important;
}

.content__default code {
    // padding: 0.2em 0.3em !important;
}

.sidebar, .sidebar-mask {
    z-index: 13;
}

code, kbd, .line-number {
    font-family: Monaco, Consolas, 'Courier New', monospace !important;
}

body {
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Hiragino Sans GB', 'Roboto', 'Segoe UI', 'Microsoft Yahei', '微软雅黑', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica', 'Arial', 'STHeiti', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
    -webkit-font-smoothing: auto !important;
    font-size: 16px !important;
}

#my-gitalk-container {
    padding: 0 1rem !important;
    max-width: 860px !important;
}

.content__default pre, .content__default pre[class*='language-'] {
    padding: 0.75rem 1rem !important;
}

.content__default:not(.custom) {
    padding: 2rem 1rem !important;
}

div[class*='language-'] {
    border-radius: 0px !important;
}

.markdown-body h1 {
    display: block;
}

.gitalk-container {
    margin: 0 auto;
    max-width: 48rem;
    padding: 0 1rem !important;
    overflow-x: scroll !important;
}

.gt-container a {
    color: #3eaf7c !important;
}

.gt-container .gt-link {
    border-bottom: 1px dotted #3eaf7c !important;
}

.page-nav .inner {
    color: #3eaf7c;
    display: flex;
}

.gt-ico-reply .gt-svg svg, .gt-ico-heart svg {
    fill: #3eaf7c !important;
}

.gt-ico-tip svg, .gt-ico-edit svg {
    fill: #3eaf7c !important;
}

.page-nav .inner span.prev {
    margin-right: 10px;
    padding-left: 10px;
    padding: 10px 0 10px 50px;
}

.page-nav .inner span.next {
    margin-left: 10px;
    text-align: end;
    padding-right: 10px;
    padding: 10px 50px 10px 0;
}

html.dark {
    --default-color-10: rgba(0, 0, 0, 1);
    --default-color-9: rgba(0, 0, 0, 0.9);
    --default-color-8: rgba(0, 0, 0, 0.8);
    --default-color-7: rgba(0, 0, 0, 0.7);
    --default-color-6: rgba(0, 0, 0, 0.6);
    --default-color-5: rgba(0, 0, 0, 0.5);
    --default-color-4: rgba(0, 0, 0, 0.4);
    --default-color-3: rgba(0, 0, 0, 0.3);
    --default-color-2: rgba(0, 0, 0, 0.2);
    --default-color-1: rgba(0, 0, 0, 0.1);
    --background-color: #222 !important;
    --box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.6);
    --box-shadow-hover: 0 2px 16px 0 rgba(0, 0, 0, 0.7);
    --text-color: #aaaaaa !important;
    --text-color-sub: #8B8B8B;
    --border-color: #333 !important;
    --code-color: #333 !important;
    --mask-color: #000;
}

html.dark {
    td, th {
        border: 1px solid #444 !important;
    }

    div[class*='language-'].line-numbers-mode .line-numbers-wrapper {
        color: #aaaaaa !important;
    }

    div[class*='language-'].line-numbers-mode::after {
        border-right: 1px solid rgba(255, 255, 255, 0.12) !important;
        background-color: #2d2d2d !important;
    }

    div[class*='language-']::before {
        color: #3eaf7c !important;
    }

    .demo-code-content-copy svg {
        fill: #3eaf7c !important;
    }

    .demo-code-nav button {
        color: #aaaaaa !important;
    }

    .demo-wrap .demo-code .demo-code-nav .demo-code-btn.active {
        color: #3eaf7c !important;
        background: #1a1a1a !important;
    }

    .zhailu-outer {
        background-color: #2d2d2d !important;
    }

    .content__default pre[class*=language-] code, .content__default pre code {
        color: #a5cee1 !important;
    }

    .content__default code {
        color: #aaaaaa;
        padding: 0.2em 0.3em;
    }

    div[class*='language-'] {
        background-color: #2d2d2d;
    }

    .page-nav {
        padding: 1rem !important;

        .inner {
            border-top: 1px solid #333;

            .prev, .next {
                flex: 1;
                background: #333;
                cursor: pointer;
            }
        }
    }

    // gitalk 样式修改
    .gt-container {
        // padding: 0 !important;
        .gt-meta {
            border-bottom: 1px solid #333;

            .gt-popup {
                background: #1a1a1a;
                border: 1px solid #333;

                .gt-copyright {
                    border-top: 1px solid #333;
                }
            }

            .gt-user {
                .gt-ico-arrdown {
                    svg {
                        fill: #3eaf7c !important;
                    }
                }
            }
        }

        .gt-header {
            .markdown-body {
                background-color: #1a1a1a !important;
                color: #aaaaaa !important;

                .highlight pre, pre {
                    background-color: #2d2d2d !important;
                }

                .pl-smi, .pl-s .pl-s1 {
                    color: orange !important;
                }

                .pl-s1 {
                    color: #3eaf7c !important;
                }

                .pl-kos {
                    color: #aaaaaa !important;
                }

                .pl-c1, .pl-en {
                    color: orange !important;
                }

                h1, h2 {
                    border-bottom: 1px solid #333 !important;
                }

                hr {
                    background-color: #333;
                }

                table tr {
                    background-color: #1a1a1a !important;
                }

                table th, table td {
                    border: 1px solid #333 !important;
                }

                .pl-pds, .pl-s, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sra, .pl-sr .pl-sre {
                    color: #3eaf7c;
                }
            }

            .gt-avatar-github {
                svg {
                    fill: #777 !important;
                }
            }

            .gt-header-comment {
                .gt-header-textarea {
                    background-color: #1a1a1a !important;
                    border: 1px solid #333 !important;
                    caret-color: #3eaf7c !important;
                    font-family: '-apple-system', 'BlinkMacSystemFont', 'Hiragino Sans GB', 'Roboto', 'Segoe UI', 'Microsoft Yahei', '微软雅黑', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica', 'Arial', 'STHeiti', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
                    color: #aaaaaa !important;
                }

                .gt-header-textarea:focus {
                    background-color: #2a2a2a !important;
                }

                .gt-header-controls {
                    .gt-btn-public {
                        background-color: #3eaf7c !important;
                        border: 1px solid #333 !important;
                        color: #333 !important;
                    }

                    .gt-ico-tip {
                        svg {
                            fill: #3eaf7c !important;
                        }
                    }

                    .gt-btn-preview {
                        background-color: #333 !important;
                        border: 1px solid #333 !important;
                        color: #3eaf7c !important;
                    }

                    .gt-btn-login {
                        background-color: #3eaf7c !important;
                        border: 1px solid #333 !important;
                        color: #333 !important;
                    }
                }
            }
        }

        .gt-comments {
            .markdown-body {
                color: #aaaaaa !important;

                .pl-smi, .pl-s .pl-s1 {
                    color: orange !important;
                }

                .pl-s1 {
                    color: #3eaf7c !important;
                }

                .pl-kos {
                    color: #aaaaaa !important;
                }

                .pl-c1, .pl-en {
                    color: orange !important;
                }

                h1, h2 {
                    border-bottom: 1px solid #333 !important;
                }

                hr {
                    background-color: #333;
                }

                table tr {
                    background-color: #1a1a1a !important;
                }

                table th, table td {
                    border: 1px solid #333 !important;
                }

                .pl-pds, .pl-s, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sra, .pl-sr .pl-sre {
                    color: #3eaf7c;
                }
            }

            .gt-comment-content {
                box-shadow: 0 0 !important;
                background-color: #1a1a1a !important;

                .highlight pre {
                    background: #2d2d2d !important;
                }
            }
        }
    }
}

html.light {
    .demo-wrap .demo-code {
        background-color: #f5f2f0 !important;
    }

    div[class*='language-']::before {
        color: #3eaf7c !important;
    }

    .demo-code-content-copy svg {
        fill: #3eaf7c !important;
    }

    .demo-code-nav {
        background: #f5f2f0 !important;
        border-bottom: 1px solid #ddd !important;
    }

    .demo-code-nav button {
        color: #333 !important;
    }

    .demo-wrap .demo-code .demo-code-nav .demo-code-btn.active {
        color: #f5f6f5 !important;
        background: #3eaf7c !important;
    }

    .blog-list, .abstract-wrapper {
        code {
            color: #505050;
        }
    }

    body {
        color: #333 !important;
    }

    div[class*='language-'] {
        background-color: #f5f2f0;
    }

    .content__default pre code, .content__default pre[class*='language-'] code {
        color: #000;
    }

    .token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin {
        color: #0077aa;
    }

    .token.punctuation {
        color: #999;
    }

    .token.comment, .token.prolog, .token.doctype, .token.cdata {
        color: slategray;
    }

    .token.string, .token.char, .token.attr-value, .token.regex, .token.variable {
        color: #669900;
    }

    .token.operator, .token.entity, .token.url {
        color: #9a6e3a;
    }

    .token.property, .token.class-name, .token.constant, .token.symbol {
        color: #0077aa;
    }

    // #f5f2f0
    .page-nav {
        padding: 1rem !important;

        .inner {
            .prev, .next {
                flex: 1;
                background: #fafafa;
                cursor: pointer;
            }
        }
    }

    .markdown-body .highlight pre, .markdown-body pre {
        background-color: #f5f2f0 !important;
    }

    .gt-btn-login {
        background-color: #3eaf7c !important;
        border: 1px solid #3eaf7c !important;
        color: #ffffff !important;
    }

    .gt-btn-preview {
        background-color: #fff !important;
        border: 1px solid #3eaf7c !important;
        color: #3eaf7c !important;
    }

    .gt-btn-public {
        background-color: #3eaf7c !important;
        border: 1px solid #3eaf7c !important;
        color: #ffffff !important;
    }
}

@media (max-width: 1279px) {
    .page {
        padding-right: 0 !important;

        .side-bar {
            display: none !important;
        }

        .page-title {
            padding: 0 1rem !important;
        }

        .page-edit {
            .edit-link {
                margin-bottom: 0.5rem !important;
            }

            .last-updated {
                font-size: 0.8em !important;
                float: none !important;
                text-align: left !important;
            }
        }
    }
}

@media (max-width: 1055px) {
    .sidebar {
        top: 0 !important;
        padding-top: $navbarHeight !important;
        transform: translateX(-100%) !important;
        transition: transform 0.2s ease !important;
    }

    .page, .password-wrapper-in {
        margin-left: 0 !important;
    }

    .theme-container {
        &.sidebar-open {
            .sidebar {
                transform: translateX(0) !important;
            }
        }

        &.no-navbar {
            .sidebar {
                padding-top: 0 !important;
            }
        }
    }

    .password-shadow {
        padding-left: 0 !important;
    }

    .content__default:not(.custom) {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

@media (max-width: 419px) {
    details.custom-block.details {
        margin: 0.85rem -1.5rem !important;
        padding: 2rem !important;
    }
}

.demo-wrap div[class*='language-'].line-numbers-mode::after {
    border-radius: 0 0 0 6px !important;
}

.demo-wrap div[class*='language-'].line-numbers-mode .line-numbers-wrapper {
    // line-height: 1.5 !important;
    // padding: 1rem 0 !important;
}

.demo-nav {
    display: none !important;
}

.demo-code-content-copy {
    top: 0.65em !important;
    right: 50px !important;
}

.demo-code-content-copy svg {
    width: 15px !important;
    height: 15px !important;
}

@media (max-width: 419px) {
    .demo-wrap {
        margin: 0.85rem -1.5rem !important;
    }
}

@media (max-width: 959px) and (min-width: 719px) {
    .search-box {
        margin-right: 1rem !important;
    }
}

@media (max-width: 900px) {
    .navbar .links {
        right: 6rem !important;
    }

    .site-name {
        color: transparent !important;
    }
}

@media (max-width: 860px) {
    .navbar .links {
        right: 8rem !important;
    }
}

@media (max-width: 830px) {
    .navbar .links {
        right: 9rem !important;
    }
}

@media (max-width: 790px) {
    .navbar .links {
        right: 10rem !important;
    }
}

@media (max-width: 760px) {
    .navbar .links {
        right: 11rem !important;
    }
}

@media (max-width: 740px) {
    .navbar .links {
        right: 12rem !important;
    }
}

@media (max-width: 723px) {
    .navbar .links {
        right: 1.5rem !important;
    }
}

@media (max-width: 400px) {
 

    .right-bottom-con {
    margin-right: 0 !important;
    padding-right: 10px !important;
    }

    

    .right-bottom-con {
    justify-content: space-around;
    }

   
    .timeStart, .timeEnd {
        display: none !important;
    }

    .song-progress-line {
        display: none !important;
    }
}